<nav class="navbar navbar-expand-md navbar-dark navbar-top">
  <div class="navbar-header nav-logo-margin">
    <a>
      <div class="logo-container">
        <div class="logo">
          <img src="../../assets/img/new_logo.png" alt="Allistone Labs">
        </div>
        <div class="brand">
          Alliston Labs
        </div>
      </div>
    </a>
  </div>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto nav-items-margin">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="btn btn-info btn-navbar-signin btn-sm">Sign In</a>
      </li>

      <li class="nav-item" style="margin-left: 5px;">
        <a class="btn btn-info btn-navbar-register btn-sm">Register</a>
      </li>
    </ul>
  </div>
</nav>