@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.navbar {
  border: 0;
  font-size: 16px;
}
.navbar .navbar-brand {
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 20px;
}
.navbar .navbar-nav > li > a {
  padding: 10px 15px;
  color:white !important;
  margin: 15px 3px;
}

.navbar .navbar-nav > li > a:hover {
  color:rgb(206, 206, 206) !important;
}
.navbar .navbar-nav > li > a.btn {
  margin: 16px 3px;
  padding: 10px 16px;
}
.navbar .navbar-nav > li > a.btn-round {
  margin: 16px 3px;
}
.navbar .navbar-nav > li > a [class^="fa"] {
  font-size: 19px;
  position: relative;
  top: 1px;
}
.navbar .btn {
  margin: 15px 3px;
  font-size: 14px;
}
.navbar .btn-simple {
  font-size: 16px;
}

.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px; 
    float: left;
}

.logo-container .brand{
    font-size: 22px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}
.logo-container{
    margin-top: 10px;
}
.logo-container .logo img{
    width: 100%;
}

 .header-text{
      text-transform: uppercase;
      font-weight: 200;
      color: #333;
      margin-bottom: 20px;
      font-size: 30px;
      position: relative;
      line-height: 24px;
}

.landing-page .navbar-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-top {
  background-color: rgba(7, 7, 7, 0.26);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


@media (max-width: 767px){
  
  .navbar-top{
    background: rgba(0, 0, 0, 0.75);
  }
}

@media (min-width: 768px){

    .navbar-top{
      padding-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  /* nav {
    margin-left: 10%;
    margin-right: 10%;
  } */

  .nav-logo-margin{
    margin-left: 10%;
  }

  .nav-items-margin {
    margin-right: 6%;
  }
}

.btn-navbar-signin {
  color: white;
  background-color: #19bcd6;
  border-color: #19bcd6;
  border-radius: 20px;
}

.btn-navbar-signin:hover, .btn-navbar-signin:active {
  background-color: #138c9e;
  border-color: #138c9e;
}

.btn-navbar-register {
  background-color: #07BEB8;
  border-color: #07BEB8;
  border-radius: 20px;
}

.btn-navbar-register:hover, .btn-navbar-register:active {
  background-color: rgb(8, 158, 153);
  border-color: rgb(8, 158, 153);
}