<div class="landing-page landing-page1">

  <div class="wrapper">
    <div class="home-back">
      <img src="../../assets/img/labback.jpg" alt="">
    </div>
    <div class="parallax filter-gradient blue" data-color="blue">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="description text-center">
              <h2>Alliston Diagnostics</h2>
              <br>
              <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</h5>
              <hr>
              <div class="buttons">
                <a class="btn btn-info btn-book btn-lg">Book an Appointment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>